<!DOCTYPE html>
{% load staticfiles %}

<html>

    <head>
        <title>About</title>
    </head>
    <body>
        <h1>About Rango</h1>
        <div>
            Rango says here is the about page<br/>
            This tutorial has been put together by<br/>
            <strong>{{boldmessage}}</strong><br/>
        </div>
        <div>
            <a href="/rango/../">Index</a><br/>
            <img src="{% static "images/aboutrango.jpg" %}"
                 alt="Picture of Rango"/>
            <img src="{{ MEDIA_URL }}cat.jpg"
                    alt="Picture of Cat"/>
        </div>
    </body>

</html>